/* stylelint-disable selector-class-pattern */
.movies {
  position: relative;
  margin: 0 40px;
}

.alert {
  position: fixed;
  bottom: 10px;
  z-index: 1000;
  max-width: 400px;
  font-weight: 600;
}

.searchInput {
  display: block;
  margin: 86px auto 34px ;
  max-width: 940px;
  height: 40px;
}
