/* stylelint-disable selector-class-pattern */
.item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 454px;
  min-height: 281px;
  /* stylelint-disable-next-line color-function-notation */
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 15%);
}

.content {
  position: relative;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 12px;
}

.wrapperRatingBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  background-color: #f0f0f0;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.title {
  max-width: 80%;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

.releaseDate {
  margin: 7px 0;
  font-size: 12px;
  color: rgb(130 126 126);
}

.genresList {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 8px;
}

.genresListItem {
  box-sizing: border-box;
  min-width: 46px;
  padding: 2px 5px;
  border: 1px solid rgb(217 217 217);
  border-radius: 2px;
  background: rgb(250 250 250);
  font-size: 12px;
  color: rgba(0 0 0 / 65%);
  text-align: center;
  line-height: 16px;
}

.descr {
  margin: 7px 0;
  width: 228px;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;

  /* display: -webkit-box; /* Используем флексбокс для создания ограничений */

  /* -webkit-box-orient: vertical; /* Задаем ориентацию по вертикали */

  /* overflow: hidden; /* Скрываем текст за границей */

  /* text-overflow: ellipsis; /* Добавляем троеточие (...) */

  /* -webkit-line-clamp: 3; */

  /* font-size: clamp(12px, 2vw, 16px); /* Динамический размер текста */
}

.ratingBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 3px solid;
  border-radius: 50%;
}

.rate {
  position: absolute;
  bottom: 20px;
  font-size: 15px;
}

.imageMobile {
  display: none;
}

@media (width <= 430px) {
  .item {
    min-height: max-content;
  }

  .content {
    margin-top: 4px;
    margin-left: 10px;
    align-items: flex-end;
  }

  .mobileSpecificationWrapper {
    display: flex;
    align-items: flex-start;
    column-gap: 13px;
  }

  .container {
    flex-basis: 80%;
  }

  .image {
    display: none;
  }

  .imageMobile {
    display: block;
    width: 20%;
  }

  .genresList {
    gap: 6px;
  }

  .descr {
    width: auto;
  }

  .ratingBlock {
    border: 2px solid;
  }

  .rate {
    position: relative;
    bottom: 0;
    margin: 10px 0 12px;
  }
}
