/* stylelint-disable selector-class-pattern */

@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");

body {
  font-family: Inter, sans-serif;
}

.movies {
  width: 1010px;
  margin: 19px auto;
}

.movies__list {
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
}

.movies__item {
  display: flex;
  width: 454px;
  height: 281px;
  /* stylelint-disable-next-line color-function-notation */
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 15%);
  overflow: hidden;
}

.movies__content {
  margin-left: 20px;
}

.movies__image {
  width: 100%;
  height: auto;
}

.movies__title {
  font-size: 20px;
  font-weight: 400;
  margin-top: 12px;
}

.movies__releaseDate {
  font-size: 12px;
  color: rgb(130 126 126);
}

.movies__genres {
  display: flex;
  gap: 8px;
}

.movies__genre {
  box-sizing: border-box;
  min-width: 46px;
  height: 20px;
  border: 1px solid rgb(217 217 217);
  border-radius: 2px;
  background: rgb(250 250 250);
  font-size: 12px;
  color: rgba(0 0 0 / 65%);
  text-align: center;
  line-height: 16px;
}

.movies__descr {
  margin-top: 7px;
  width: 228px;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

